.introtxt {
    color: var(--color-smoky);
    /* padding-left: 10vh; */
}

.img {
    position: relative;
    left: 75%;
    top: 30vh;
    height: 200px;
    width: auto;
}

.blob, .blob1 {
    z-index: -1;
    position: relative;
    left: 60rem;
    top: 15rem;
}

.blob {
    height: 5rem;
    width: auto;
    opacity: 0.7;
}

.blob1 {
    height: 5rem;
    width: auto;
}