.ld {
    float: left;
    margin-left: -12rem;
    position: sticky;
}

.bms {
    height: 4rem;
    width: auto;
    transform: rotate(180deg);
    z-index: 3;
}

.circle {
    height: 5rem;
    width: auto;
    padding-bottom: 0.4rem;
    margin-right: -5rem;
    z-index: 4;
}

.introtxt {
    color: var(--color-purple);
}

.img {
    position: relative;
    left: 75%;
    top: 25vh;
    height: 200px;
    width: auto;
    z-index: 5;
}

.blob {
    height: 15rem;
    width: auto;
    opacity: 0.7;
    z-index: -5;
    
    position:relative;
    left: 50rem;
    top: 10rem;
}

.blob1 {
    height: 13rem;
    width: auto;
    z-index: 2;
    
    position: relative;
    left: 50rem;
    top: 10rem;
}