.heading1 {
  font-size: calc(48 / var(--base-font-size) * 1rem);
  font-size: clamp(3.5rem, 7.2vw, 6.5rem);
  line-height: 0.96153846;
}

.heading2 {
  font-size: calc(64 / 16 * 1rem);
  font-size: clamp(3.5rem, 5.4vw, 4rem);
  line-height: 1;
}

.sectionTitle {
  font-size: calc(18 / 16 * 1rem);
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1;
  text-transform: uppercase;
}

.texts {
  font-size: calc(18 / 16 * 1rem);
  font-size: clamp(1.4rem, 1.7vw, 2.1rem);
  line-height: 1;
}
