.ht {
  font-size: clamp(3rem, 7vh, 4rem);
  /* margin-top: 10rem; */
  color: var(--color-purple);
  text-decoration: underline 1.5px solid;
  text-underline-offset: 10px;
}

.cardline {
  padding-top: 7rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20rem;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px; 
}

.card {
  background-color:  transparent;
  border: 1px var(--color-purple) solid;
  height: 20rem;
  width: 15rem;
}

.card::after {
  content: "";
  background-color: #B33E38;
  opacity: 0.4;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 10px;
  left: 10px;
  transition: 0.2s;
}

.card:hover::after {
  top: 0px;
  left: 0px;
}
  

.cardImg {
  height: 150px;
  width: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ct {
  font-size: clamp(0.5rem, 1.7vh, 1.1rem);
}

.container {
  padding: 1rem 2rem;
}