.navbar {
  float: right;
  color: var(--color-purple);
  padding-top: 0.7rem;
}

li {
  display: inline-block;
  font-size: 3vh;
  /* text-decoration: underline 1px var(--color-purple); */
  /* text-underline-offset: 5px; */
}



.letters {
  color: var(--color-purple);
  font-size: clamp(2.5rem, 4.2vw, 3rem);
  left: 32rem;
  position: relative;
  padding-top: 4rem;
}
