.navbar {
  float: right;
  color: var(--color-teal);
  padding-top: 0.7rem;
}

li {
  display: inline-block;
}

.bookmark {
  position: relative;
  transform: rotate(-90deg);
  height: 130rem;
  width: 7rem;
  float: right;
  z-index: -2;
  margin-top: -60rem;
}

.line {
  position: relative;
  transform: rotate(-90deg);
  height: 70rem;
  width: 6rem;
  float: right;
  z-index: -2;
  margin-top: -29rem;
}

.letters {
  color: var(--color-green);
  font-size: clamp(2.5rem, 4.2vw, 3rem);
  left: 32rem;
  position: relative;
  padding-top: 4rem;
}
