.container-lines {
    text-align: center;
    padding-bottom: 10rem;
  }
  
  .line {
    width: 4px;
    margin: 5px auto;
    height: 4rem;
    border-radius: 60px;
    background: linear-gradient(180deg, rgba(196, 73, 0, 0) 0%, var(--color-umbra) 100%);
  }
  

  
