.container-lines {
    text-align: center;
    padding-bottom: 10rem;
  }
  
  .line {
    width: 4px;
    margin: 5px auto;
    height: 4rem;
    border-radius: 60px;
    background: linear-gradient(180deg, rgba(196, 73, 0, 0) 0%, var(--color-umbra) 100%);
  }

  .ht {
    font-size: clamp(3rem, 7vh, 4rem);
    color: var(--color-purple);
    text-decoration: underline 1.5px solid;
    float: left !important;
}
  

  
