@import url("https://fonts.googleapis.com/css2?family=Trirong&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base-font-size: 16;

  /* palette colors */
  --color-venetian: #cc1512;
  --color-purple: #432534;

  --color-smoky: #111111;
  --color-seaweed: #177e89;
  --color-teal: #598381;
  --color-artichoke: #8e936d;
  --color-olive: #a2ad59;
  --color-cream: #EFD6AC;
  --color-green: #183A37;
  --color-orangeb: #C44900;
  --color-umbra: #B33E38;

  --button-bg-color: var(--color-venetian);
  --error-color: var(--color-purple);

  background: linear-gradient(90deg, #8E936D, #EFD6AC, #598381);
      background-size: 300% 300%;
      animation: gradient 7s alternate infinite;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    @keyframes gradient {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }
}

body {
  font-size: 16px;
}

.App {
  font-family: "Trirong", serif;
  height: 100%;
  width: 100%;
}


.Test {
  font-family: "Trirong", serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}



